version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: daily
    time: "04:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: github.com/atotto/clipboard
    versions:
    - 0.1.4
  - dependency-name: github.com/stretchr/testify
    versions:
    - 1.7.0
